openapi: 3.0.3
info:
  title: KisanLink Marketplace Catalogs API
  description: |
    Production-ready marketplace catalogs microservice for managing agricultural products, services, labour, and contracts.

    This API provides comprehensive catalog management capabilities with:
    - Multi-tenant support with organization-level isolation
    - Four catalog types: Products, Services, Labour, and Contracts
    - Advanced search and filtering capabilities
    - Publish/unpublish workflow management
    - Price update operations
    - Bulk operations support
    - Real-time availability tracking

    ## Authentication
    All endpoints require JWT authentication via the `Authorization` header with `Bearer <token>` format.

    ## Rate Limiting
    - Global: 1000 requests/minute
    - Per tenant: 100 requests/minute
    - Per user: 50 requests/minute

    ## Pagination
    List endpoints support cursor-based pagination with `page` and `limit` parameters.

    ## Error Handling
    All errors follow RFC 7807 Problem Details format with structured error codes.
  version: 1.0.0
  contact:
    name: KisanLink API Support
    email: api-support@kisanlink.com
    url: https://docs.kisanlink.com
  license:
    name: Proprietary
    url: https://kisanlink.com/license
servers:
  - url: https://api.kisanlink.com
    description: Production server
  - url: https://staging-api.kisanlink.com
    description: Staging server
  - url: http://localhost:8080
    description: Development server

paths:
  # Health and Status Endpoints
  /health:
    get:
      tags: [Health]
      summary: Health check
      description: Basic health check endpoint
      operationId: healthCheck
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /ready:
    get:
      tags: [Health]
      summary: Readiness check
      description: Readiness probe for Kubernetes deployments
      operationId: readinessCheck
      responses:
        "200":
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # Generic Catalog Endpoints
  /api/v1/catalog:
    get:
      tags: [Catalog]
      summary: List all catalog items
      description: |
        Retrieve a paginated list of catalog items across all types with advanced filtering capabilities.
        Supports multi-tenant access with automatic organization filtering.
      operationId: listCatalogItems
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/ItemTypeParam"
        - $ref: "#/components/parameters/CategoryParam"
        - $ref: "#/components/parameters/SubcategoryParam"
        - $ref: "#/components/parameters/IsActiveParam"
        - $ref: "#/components/parameters/VisibilityParam"
        - $ref: "#/components/parameters/MinPriceParam"
        - $ref: "#/components/parameters/MaxPriceParam"
        - $ref: "#/components/parameters/SearchParam"
        - $ref: "#/components/parameters/TagsParam"
        - $ref: "#/components/parameters/OrganizationIdParam"
        - $ref: "#/components/parameters/SortByParam"
        - $ref: "#/components/parameters/SortOrderParam"
      responses:
        "200":
          description: Successfully retrieved catalog items
          headers:
            X-Total-Count:
              description: Total number of items matching the filter
              schema:
                type: integer
            X-Page:
              description: Current page number
              schema:
                type: integer
            X-Limit:
              description: Items per page
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogItemListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/catalog/search:
    get:
      tags: [Catalog]
      summary: Search catalog items
      description: |
        Full-text search across catalog items with advanced filtering and relevance scoring.
        Supports PostgreSQL native search with trigram matching and faceted filtering.
      operationId: searchCatalogItems
      parameters:
        - name: q
          in: query
          required: true
          description: Search query string
          schema:
            type: string
            minLength: 1
            maxLength: 255
          example: "organic tomatoes"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/ItemTypeParam"
        - $ref: "#/components/parameters/CategoryParam"
        - $ref: "#/components/parameters/SubcategoryParam"
        - $ref: "#/components/parameters/IsActiveParam"
        - $ref: "#/components/parameters/VisibilityParam"
        - $ref: "#/components/parameters/MinPriceParam"
        - $ref: "#/components/parameters/MaxPriceParam"
        - $ref: "#/components/parameters/TagsParam"
        - $ref: "#/components/parameters/OrganizationIdParam"
        - name: sort_by
          in: query
          description: Sort field for search results
          schema:
            type: string
            enum: [relevance, created_at, updated_at, name, base_price]
            default: relevance
        - $ref: "#/components/parameters/SortOrderParam"
      responses:
        "200":
          description: Search results retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogItemListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/catalog/{type}:
    get:
      tags: [Catalog]
      summary: List catalog items by type
      description: Retrieve catalog items filtered by specific type (products, services, labour, contracts)
      operationId: listCatalogItemsByType
      parameters:
        - name: type
          in: path
          required: true
          description: Catalog item type
          schema:
            type: string
            enum: [products, services, labour, contracts]
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CategoryParam"
        - $ref: "#/components/parameters/SubcategoryParam"
        - $ref: "#/components/parameters/IsActiveParam"
        - $ref: "#/components/parameters/VisibilityParam"
        - $ref: "#/components/parameters/MinPriceParam"
        - $ref: "#/components/parameters/MaxPriceParam"
        - $ref: "#/components/parameters/SearchParam"
        - $ref: "#/components/parameters/TagsParam"
        - $ref: "#/components/parameters/OrganizationIdParam"
        - $ref: "#/components/parameters/SortByParam"
        - $ref: "#/components/parameters/SortOrderParam"
      responses:
        "200":
          description: Successfully retrieved catalog items by type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogItemListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/catalog/{type}/{id}:
    get:
      tags: [Catalog]
      summary: Get catalog item by type and ID
      description: Retrieve a specific catalog item by its type and ID
      operationId: getCatalogItemByTypeAndId
      parameters:
        - name: type
          in: path
          required: true
          description: Catalog item type
          schema:
            type: string
            enum: [products, services, labour, contracts]
        - name: id
          in: path
          required: true
          description: Catalog item ID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Catalog item retrieved successfully
          headers:
            ETag:
              description: Entity tag for caching
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogItemResponse"
        "304":
          description: Not modified (when If-None-Match header matches ETag)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

    put:
      tags: [Catalog]
      summary: Update catalog item by type and ID
      description: |
        Update a catalog item with optimistic locking support.
        Supports partial updates and type-specific attribute validation.
      operationId: updateCatalogItemByTypeAndId
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          description: Catalog item type
          schema:
            type: string
            enum: [products, services, labour, contracts]
        - name: id
          in: path
          required: true
          description: Catalog item ID
          schema:
            type: string
            format: uuid
        - name: If-Match
          in: header
          description: ETag for optimistic locking
          schema:
            type: string
        - name: Idempotency-Key
          in: header
          description: Idempotency key for safe retries
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCatalogItemRequest"
      responses:
        "200":
          description: Catalog item updated successfully
          headers:
            ETag:
              description: New entity tag
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      tags: [Catalog]
      summary: Delete catalog item by type and ID
      description: |
        Soft delete a catalog item. Items with active references cannot be deleted.
        Supports audit logging and cascade delete policies.
      operationId: deleteCatalogItemByTypeAndId
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          description: Catalog item type
          schema:
            type: string
            enum: [products, services, labour, contracts]
        - name: id
          in: path
          required: true
          description: Catalog item ID
          schema:
            type: string
            format: uuid
        - name: force
          in: query
          description: Force delete even with references (admin only)
          schema:
            type: boolean
            default: false
      responses:
        "204":
          description: Catalog item deleted successfully
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  # Product-specific endpoints
  /api/v1/catalog/products:
    post:
      tags: [Products]
      summary: Create a new product
      description: |
        Create a new product catalog item with product-specific attributes.
        Supports automatic SKU generation and inventory lot creation.
      operationId: createProduct
      security:
        - BearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          description: Idempotency key for safe retries
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProductRequest"
      responses:
        "201":
          description: Product created successfully
          headers:
            Location:
              description: URL of the created product
              schema:
                type: string
                format: uri
            ETag:
              description: Entity tag for caching
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

    get:
      tags: [Products]
      summary: List products
      description: Retrieve a paginated list of products with product-specific filtering
      operationId: listProducts
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CategoryParam"
        - $ref: "#/components/parameters/SubcategoryParam"
        - $ref: "#/components/parameters/IsActiveParam"
        - $ref: "#/components/parameters/VisibilityParam"
        - $ref: "#/components/parameters/MinPriceParam"
        - $ref: "#/components/parameters/MaxPriceParam"
        - $ref: "#/components/parameters/SearchParam"
        - $ref: "#/components/parameters/TagsParam"
        - $ref: "#/components/parameters/OrganizationIdParam"
        - name: perishable
          in: query
          description: Filter by perishable status
          schema:
            type: boolean
        - name: min_weight
          in: query
          description: Minimum weight filter
          schema:
            type: number
            format: decimal
            minimum: 0
        - name: max_weight
          in: query
          description: Maximum weight filter
          schema:
            type: number
            format: decimal
            minimum: 0
        - $ref: "#/components/parameters/SortByParam"
        - $ref: "#/components/parameters/SortOrderParam"
      responses:
        "200":
          description: Products retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/catalog/products/{id}:
    get:
      tags: [Products]
      summary: Get product by ID
      description: Retrieve a specific product by its ID
      operationId: getProductById
      parameters:
        - name: id
          in: path
          required: true
          description: Product ID
          schema:
            type: string
            format: uuid
        - name: If-None-Match
          in: header
          description: ETag for conditional requests
          schema:
            type: string
      responses:
        "200":
          description: Product retrieved successfully
          headers:
            ETag:
              description: Entity tag for caching
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "304":
          description: Not modified
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

    put:
      tags: [Products]
      summary: Update product
      description: Update a product with product-specific validation
      operationId: updateProduct
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Product ID
          schema:
            type: string
            format: uuid
        - name: If-Match
          in: header
          description: ETag for optimistic locking
          schema:
            type: string
        - name: Idempotency-Key
          in: header
          description: Idempotency key for safe retries
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProductRequest"
      responses:
        "200":
          description: Product updated successfully
          headers:
            ETag:
              description: New entity tag
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      tags: [Products]
      summary: Delete product
      description: Soft delete a product
      operationId: deleteProduct
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Product ID
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Product deleted successfully
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  # Publish/Unpublish Operations
  /api/v1/catalog/{type}/{id}/publish:
    post:
      tags: [Catalog Management]
      summary: Publish catalog item
      description: |
        Publish a catalog item to make it visible according to its visibility settings.
        Validates all required fields and business rules before publishing.
      operationId: publishCatalogItem
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          description: Catalog item type
          schema:
            type: string
            enum: [products, services, labour, contracts]
        - name: id
          in: path
          required: true
          description: Catalog item ID
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                visibility:
                  $ref: "#/components/schemas/VisibilityType"
                  description: Override visibility level for publishing
                effective_date:
                  type: string
                  format: date-time
                  description: When the item should become active
                notes:
                  type: string
                  maxLength: 500
                  description: Publishing notes for audit trail
      responses:
        "200":
          description: Item published successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/catalog/{type}/{id}/unpublish:
    post:
      tags: [Catalog Management]
      summary: Unpublish catalog item
      description: |
        Unpublish a catalog item to make it inactive.
        Handles active orders and inventory implications.
      operationId: unpublishCatalogItem
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          description: Catalog item type
          schema:
            type: string
            enum: [products, services, labour, contracts]
        - name: id
          in: path
          required: true
          description: Catalog item ID
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 500
                  description: Reason for unpublishing
                effective_date:
                  type: string
                  format: date-time
                  description: When the item should become inactive
                handle_active_orders:
                  type: string
                  enum: [fulfill, cancel, transfer]
                  default: fulfill
                  description: How to handle active orders
      responses:
        "200":
          description: Item unpublished successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  # Price Update Operations
  /api/v1/catalog/{type}/{id}/price:
    put:
      tags: [Catalog Management]
      summary: Update catalog item price
      description: |
        Update the price of a catalog item with price history tracking.
        Supports bulk price updates and promotional pricing.
      operationId: updateCatalogItemPrice
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          description: Catalog item type
          schema:
            type: string
            enum: [products, services, labour, contracts]
        - name: id
          in: path
          required: true
          description: Catalog item ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - base_price
              properties:
                base_price:
                  type: number
                  format: decimal
                  minimum: 0
                  description: New base price
                currency:
                  type: string
                  pattern: "^[A-Z]{3}$"
                  default: INR
                  description: Currency code (ISO 4217)
                effective_date:
                  type: string
                  format: date-time
                  description: When the price change becomes effective
                reason:
                  type: string
                  maxLength: 500
                  description: Reason for price change
                promotional:
                  type: boolean
                  default: false
                  description: Whether this is a promotional price
                promotion_end_date:
                  type: string
                  format: date-time
                  description: When promotional price expires
      responses:
        "200":
          description: Price updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CatalogItemResponse"
                  - type: object
                    properties:
                      price_history:
                        type: array
                        items:
                          $ref: "#/components/schemas/PriceHistoryEntry"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  # Bulk Operations
  /api/v1/catalog/bulk/update:
    post:
      tags: [Bulk Operations]
      summary: Bulk update catalog items
      description: |
        Update multiple catalog items in a single operation.
        Supports partial updates and atomic transactions.
      operationId: bulkUpdateCatalogItems
      security:
        - BearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          description: Idempotency key for safe retries
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                      - id
                    properties:
                      id:
                        type: string
                        format: uuid
                      updates:
                        $ref: "#/components/schemas/UpdateCatalogItemRequest"
                atomic:
                  type: boolean
                  default: false
                  description: Whether to perform updates atomically
      responses:
        "200":
          description: Bulk update completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkOperationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/catalog/bulk/publish:
    post:
      tags: [Bulk Operations]
      summary: Bulk publish catalog items
      description: Publish multiple catalog items in a single operation
      operationId: bulkPublishCatalogItems
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - item_ids
              properties:
                item_ids:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: string
                    format: uuid
                visibility:
                  $ref: "#/components/schemas/VisibilityType"
                effective_date:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Bulk publish completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkOperationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/catalog/bulk/price-update:
    post:
      tags: [Bulk Operations]
      summary: Bulk update prices
      description: Update prices for multiple catalog items
      operationId: bulkUpdatePrices
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - updates
              properties:
                updates:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                      - id
                      - base_price
                    properties:
                      id:
                        type: string
                        format: uuid
                      base_price:
                        type: number
                        format: decimal
                        minimum: 0
                      currency:
                        type: string
                        pattern: "^[A-Z]{3}$"
                effective_date:
                  type: string
                  format: date-time
                reason:
                  type: string
                  maxLength: 500
      responses:
        "200":
          description: Bulk price update completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkOperationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from the AAA service

  parameters:
    PageParam:
      name: page
      in: query
      description: Page number (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1

    LimitParam:
      name: limit
      in: query
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    ItemTypeParam:
      name: item_type
      in: query
      description: Filter by catalog item type
      schema:
        $ref: "#/components/schemas/CatalogItemType"

    CategoryParam:
      name: category
      in: query
      description: Filter by category
      schema:
        type: string
        maxLength: 100

    SubcategoryParam:
      name: subcategory
      in: query
      description: Filter by subcategory
      schema:
        type: string
        maxLength: 100

    IsActiveParam:
      name: is_active
      in: query
      description: Filter by active status
      schema:
        type: boolean

    VisibilityParam:
      name: visibility
      in: query
      description: Filter by visibility level
      schema:
        $ref: "#/components/schemas/VisibilityType"

    MinPriceParam:
      name: min_price
      in: query
      description: Minimum price filter
      schema:
        type: number
        format: decimal
        minimum: 0

    MaxPriceParam:
      name: max_price
      in: query
      description: Maximum price filter
      schema:
        type: number
        format: decimal
        minimum: 0

    SearchParam:
      name: search
      in: query
      description: Search term for name and description
      schema:
        type: string
        maxLength: 255

    TagsParam:
      name: tags
      in: query
      description: Filter by tags (comma-separated)
      schema:
        type: array
        items:
          type: string
          maxLength: 50
      style: form
      explode: false

    OrganizationIdParam:
      name: organization_id
      in: query
      description: Filter by organization ID
      schema:
        type: string
        format: uuid

    SortByParam:
      name: sort_by
      in: query
      description: Sort field
      schema:
        type: string
        enum: [created_at, updated_at, name, base_price]
        default: created_at

    SortOrderParam:
      name: sort_order
      in: query
      description: Sort order
      schema:
        type: string
        enum: [asc, desc]
        default: desc

  schemas:
    # Enums
    CatalogItemType:
      type: string
      enum: [PRODUCT, SERVICE, LABOUR, CONTRACT]
      description: Type of catalog item

    VisibilityType:
      type: string
      enum: [PRIVATE, ORG, NETWORK, PUBLIC]
      description: Visibility level of catalog item

    # Base Models
    BaseModel:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
        created_by:
          type: string
          format: uuid
          description: ID of user who created the item
        updated_by:
          type: string
          format: uuid
          description: ID of user who last updated the item
        version:
          type: integer
          format: int64
          description: Version number for optimistic locking

    # Core Catalog Models
    CatalogItemBase:
      allOf:
        - $ref: "#/components/schemas/BaseModel"
        - type: object
          required:
            - organization_id
            - item_type
            - name
            - base_price
            - currency
          properties:
            organization_id:
              type: string
              format: uuid
              description: Organization/tenant ID
            item_type:
              $ref: "#/components/schemas/CatalogItemType"
            category:
              type: string
              maxLength: 100
              description: Item category
            subcategory:
              type: string
              maxLength: 100
              description: Item subcategory
            name:
              type: string
              maxLength: 255
              description: Item name
            description:
              type: string
              maxLength: 2000
              description: Item description
            sku:
              type: string
              maxLength: 100
              description: Stock Keeping Unit
            unit_of_measure:
              type: string
              maxLength: 50
              description: Unit of measurement
            base_price:
              type: number
              format: decimal
              minimum: 0
              description: Base price
            currency:
              type: string
              pattern: "^[A-Z]{3}$"
              default: INR
              description: Currency code (ISO 4217)
            is_active:
              type: boolean
              default: true
              description: Whether the item is active
            visibility:
              $ref: "#/components/schemas/VisibilityType"
            tags:
              type: array
              items:
                type: string
                maxLength: 50
              description: Item tags
            attributes:
              type: object
              additionalProperties: true
              description: Type-specific attributes
            images:
              type: array
              items:
                type: string
                format: uri
              description: Image URLs

    # Request Models
    CreateCatalogItemRequest:
      type: object
      required:
        - item_type
        - name
        - base_price
      properties:
        item_type:
          $ref: "#/components/schemas/CatalogItemType"
        category:
          type: string
          maxLength: 100
        subcategory:
          type: string
          maxLength: 100
        name:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2000
        sku:
          type: string
          maxLength: 100
        unit_of_measure:
          type: string
          maxLength: 50
        base_price:
          type: number
          format: decimal
          minimum: 0
        currency:
          type: string
          pattern: "^[A-Z]{3}$"
          default: INR
        visibility:
          $ref: "#/components/schemas/VisibilityType"
        tags:
          type: array
          items:
            type: string
            maxLength: 50
        attributes:
          type: object
          additionalProperties: true
        images:
          type: array
          items:
            type: string
            format: uri

    UpdateCatalogItemRequest:
      type: object
      properties:
        category:
          type: string
          maxLength: 100
        subcategory:
          type: string
          maxLength: 100
        name:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2000
        sku:
          type: string
          maxLength: 100
        unit_of_measure:
          type: string
          maxLength: 50
        base_price:
          type: number
          format: decimal
          minimum: 0
        currency:
          type: string
          pattern: "^[A-Z]{3}$"
        is_active:
          type: boolean
        visibility:
          $ref: "#/components/schemas/VisibilityType"
        tags:
          type: array
          items:
            type: string
            maxLength: 50
        attributes:
          type: object
          additionalProperties: true
        images:
          type: array
          items:
            type: string
            format: uri

    # Product-specific Models
    CreateProductRequest:
      allOf:
        - $ref: "#/components/schemas/CreateCatalogItemRequest"
        - type: object
          properties:
            weight:
              type: number
              format: decimal
              minimum: 0
              description: Product weight
            dimensions:
              type: object
              properties:
                length:
                  type: number
                  format: decimal
                  minimum: 0
                width:
                  type: number
                  format: decimal
                  minimum: 0
                height:
                  type: number
                  format: decimal
                  minimum: 0
                unit:
                  type: string
                  enum: [mm, cm, m, in, ft]
                  default: cm
              description: Product dimensions
            perishable:
              type: boolean
              default: false
              description: Whether the product is perishable
            shelf_life_days:
              type: integer
              minimum: 1
              description: Shelf life in days (required for perishable products)

    UpdateProductRequest:
      allOf:
        - $ref: "#/components/schemas/UpdateCatalogItemRequest"
        - type: object
          properties:
            weight:
              type: number
              format: decimal
              minimum: 0
            dimensions:
              type: object
              properties:
                length:
                  type: number
                  format: decimal
                  minimum: 0
                width:
                  type: number
                  format: decimal
                  minimum: 0
                height:
                  type: number
                  format: decimal
                  minimum: 0
                unit:
                  type: string
                  enum: [mm, cm, m, in, ft]
            perishable:
              type: boolean
            shelf_life_days:
              type: integer
              minimum: 1

    # Response Models
    CatalogItemResponse:
      allOf:
        - $ref: "#/components/schemas/CatalogItemBase"

    ProductResponse:
      allOf:
        - $ref: "#/components/schemas/CatalogItemResponse"
        - type: object
          properties:
            weight:
              type: number
              format: decimal
              minimum: 0
            dimensions:
              type: object
              properties:
                length:
                  type: number
                  format: decimal
                width:
                  type: number
                  format: decimal
                height:
                  type: number
                  format: decimal
                unit:
                  type: string
            perishable:
              type: boolean
            shelf_life_days:
              type: integer

    # List Response Models
    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          description: Current page number
        limit:
          type: integer
          minimum: 1
          description: Items per page
        total:
          type: integer
          minimum: 0
          description: Total number of items
        total_pages:
          type: integer
          minimum: 0
          description: Total number of pages
        has_next:
          type: boolean
          description: Whether there are more pages
        has_prev:
          type: boolean
          description: Whether there are previous pages

    ResponseMeta:
      type: object
      properties:
        trace_id:
          type: string
          description: Request trace ID
        timestamp:
          type: string
          format: date-time
          description: Response timestamp
        pagination:
          $ref: "#/components/schemas/PaginationMeta"

    CatalogItemListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CatalogItemResponse"
        meta:
          $ref: "#/components/schemas/ResponseMeta"

    ProductListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProductResponse"
        meta:
          $ref: "#/components/schemas/ResponseMeta"

    # Bulk Operation Models
    BulkOperationResponse:
      type: object
      properties:
        total_items:
          type: integer
          minimum: 0
          description: Total number of items processed
        success_count:
          type: integer
          minimum: 0
          description: Number of successful operations
        failure_count:
          type: integer
          minimum: 0
          description: Number of failed operations
        success_items:
          type: array
          items:
            type: string
            format: uuid
          description: IDs of successfully processed items
        failure_items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              error:
                type: string
          description: Failed items with error messages

    # Price History Model
    PriceHistoryEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
        old_price:
          type: number
          format: decimal
        new_price:
          type: number
          format: decimal
        currency:
          type: string
          pattern: "^[A-Z]{3}$"
        effective_date:
          type: string
          format: date-time
        reason:
          type: string
        changed_by:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time

    # Health Models
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, unhealthy]
        message:
          type: string
        version:
          type: string
        timestamp:
          type: string
          format: date-time
        dependencies:
          type: object
          properties:
            database:
              type: string
              enum: [healthy, unhealthy]
            cache:
              type: string
              enum: [healthy, unhealthy]
            aaa_service:
              type: string
              enum: [healthy, unhealthy]

    # Error Models
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              additionalProperties: true
              description: Additional error details
            trace_id:
              type: string
              description: Request trace ID for debugging
            timestamp:
              type: string
              format: date-time
              description: Error timestamp

    ValidationError:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - type: object
          properties:
            error:
              type: object
              properties:
                code:
                  type: string
                  enum: [VALIDATION_ERROR]
                message:
                  type: string
                details:
                  type: object
                  properties:
                    field_errors:
                      type: array
                      items:
                        type: object
                        properties:
                          field:
                            type: string
                          message:
                            type: string
                          value:
                            type: string

  responses:
    BadRequest:
      description: Bad request - invalid parameters or request body
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationError"

    Unauthorized:
      description: Unauthorized - missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    Conflict:
      description: Conflict - resource already exists or constraint violation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    PreconditionFailed:
      description: Precondition failed - ETag mismatch for optimistic locking
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    UnprocessableEntity:
      description: Unprocessable entity - business rule validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationError"

    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          description: Seconds to wait before retrying
          schema:
            type: integer
        X-RateLimit-Limit:
          description: Request limit per window
          schema:
            type: integer
        X-RateLimit-Remaining:
          description: Remaining requests in current window
          schema:
            type: integer
        X-RateLimit-Reset:
          description: Time when rate limit resets
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

security:
  - BearerAuth: []

tags:
  - name: Health
    description: Health check and monitoring endpoints
  - name: Catalog
    description: Generic catalog operations across all item types
  - name: Products
    description: Product-specific catalog operations
  - name: Services
    description: Service-specific catalog operations
  - name: Labour
    description: Labour-specific catalog operations
  - name: Contracts
    description: Contract-specific catalog operations
  - name: Catalog Management
    description: Publish/unpublish and lifecycle management operations
  - name: Bulk Operations
    description: Bulk update and management operations

externalDocs:
  description: KisanLink API Documentation
  url: https://docs.kisanlink.com/api
